<a href="/" title="Inicio" class="link dim black f6 f5-ns dib mr3"><img src="/img/logo.svg" alt="avatar" class="pa4 fl w3"></a>
<div class="tr pa3 mw6 center">
  <a href="/" title="Inicio" class="link dim black f6 f5-ns dib mr3">Inicio</a>
  <a href="/que-es-gituc" title="Que es GITUC" class="link dim black f6 f5-ns dib mr3">Que es GITUC</a>
  <a href="/quienes-somos" title="Quiénes somos" class="link dim black f6 f5-ns dib mr3">Quiénes somos</a>
  <a href="/que-es-el-turismo-comunitario" title="Qué es el turismo comunitario" class="link dim black f6 f5-ns dib mr3">Qué es el turismo comunitario</a>
  <a href="/una-alternativa-al-turismo-convencional" title="Una alternativa al turismo convencional" class="link dim black f6 f5-ns dib mr3">Una alternativa al turismo convencional</a>
  <a href="/publicaciones" title="Publicaciones" class="link dim black f6 f5-ns dib mr3">Publicaciones</a>
</div>
